* {
    margin: 0;
    padding: 0;
}


/* NAVBAR SUPERIOR */

#navSuperior {
    background-color: black;
    font-size: small;
}

li a {
    color: whitesmoke;
}

li :hover {
    color: red;
}


/* NAVBAR PRIMARIO */

#navLogo {
    width: 20%;
}

.mayus {
    text-transform: uppercase;
}


/* SLIDER */

#posInfoSlider1 {
    top: 20%;
}

#posInfoSlider2 {
    top: 30%;
    text-transform: uppercase;
}

#posInfoSlider2 span {
    font-weight: bold;
}

#posInfoSlider3 {
    top: 10%;
    width: 25%;
    height: 67%;
    background-color: black;
    border-radius: 5%;
    text-transform: uppercase;
}


/* MEDIA QUERIES */

@media (max-width: 991.98px) {
    #navSupContacto {
        text-align: center;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    #navLogo {
        width: 30%;
    }
    #redesSociales {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 767.98px) {
    #redesSociales {
        display: none;
    }
    #navLogo {
        width: 50%;
    }
}