* {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2f7695;
}

.titulos {
    text-transform: uppercase;
    font-weight: bold;
    color: #2f7695;
}

li a {
    color: whitesmoke;
    font-weight: bold;
}

li :hover {
    color: #d53332;
    transition: 0.8s;
    font-weight: bold;
}


/* NAVBAR PRIMARIO */

.mainNavStyle {
    background-color: black;
}

li .active {
    color: #2f7695;
    font-weight: bold;
}

li .active:hover {
    color: #d53332;
    font-weight: bold;
}

#navLogo {
    width: 20%;
}

.mayus {
    text-transform: uppercase;
}

.alturaImg {
    height: 560px;
}


/* SLIDER */

#bgSlider1 {
    background-image: url("../img/sliders/1.png");
}

#bgSlider2 {
    background-image: url("../img/sliders/2.png");
}

#bgSlider3 {
    background-image: url("../img/sliders/3.png");
}

.parallax {
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#posInfoSlider1 {
    top: 20%;
}

#posInfoSlider2 {
    top: 30%;
    text-transform: uppercase;
}

#posInfoSlider2 span {
    font-weight: bold;
}

#posInfoSlider3 {
    top: 30%;
    text-transform: uppercase;
}

#posInfoSlider3 span {
    font-weight: bold;
}

.fondoRojo {
    background-color: #d53332;
    border-color: #d53332;
}

.textoRojo {
    color: #d53332;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    visibility: hidden;
}


/* CARDS */

.card {
    border-radius: 15px;
}

.card-title {
    color: #d53332;
    font-weight: bold;
}

.card-body a {
    background-color: #2f7695;
    display: flex;
    justify-content: center;
}

.card-body a:hover {
    background-color: #d53332;
    border-color: #d53332;
    transition: 0.8s;
}


/* CONTACTO */

.btn-primary:hover {
    background-color: #d53332;
    border-color: #d53332;
    transition: 0.8s;
}

.btn-primary:focus {
    background-color: #d53332;
    border-color: #d53332;
    transition: 0.8s;
}

.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}


/* WHATSAPP */

.whatsapp {
    position: fixed;
    bottom: 40px;
    right: -400px;
    z-index: 100;
    transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.whatsapp img {
    width: 15%;
}

.whatsapp:hover {
    transform: scale(1.05);
    color: hsl(243, 80%, 62%);
}

.whatsapp:active {
    transform: scale(.9);
}


/* MEDIA QUERIES */

@media (max-width: 991.98px) {
    #navSupContacto {
        text-align: center;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }
    #navLogo {
        width: 30%;
    }
    #redesSociales {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 767.98px) {
    #navLogo {
        width: 50%;
    }
    #bgSlider1,
    #bgSlider2,
    #bgSlider3 {
        min-height: 200px;
    }
    .carouselSmResponsive {
        object-fit: cover;
        height: 300px;
    }
    #posInfoSlider1 img {
        width: 100%;
    }
    #posInfoSlider2 h1 {
        font-size: 30px;
    }
    #posInfoSlider1 {
        top: 30%;
    }
    #posInfoSlider2 {
        top: 10%;
    }
    #posInfoSlider3 h1 {
        font-size: 30px;
    }
    #posInfoSlider3 {
        top: 15%;
    }
    .cardsSmMarginTop {
        margin-top: 30px;
    }
    .whatsapp {
        position: fixed;
        bottom: 30px;
        right: -440px;
        z-index: 100;
        transition: color 0.25s ease-in-out, transform 0.25s ease-in-out;
    }
    .whatsapp img {
        width: 12%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #bgSlider1,
    #bgSlider2,
    #bgSlider3 {
        min-height: 300px;
    }
    .alturaImg {
        height: 300px;
    }
    .card {
        font-size: 14px;
    }
    #posInfoSlider3 {
        top: 20%;
    }
    #posInfoSlider2 h1 {
        font-size: 30px;
    }
    #posInfoSlider1 {
        top: 10%;
    }
    #posInfoSlider1 img {
        width: 100%;
    }
}